<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>What's The Move?</title>

    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-messaging.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBsu0qCePbj0YkQgbQx3_GJ3FMmMolr8JQ",
        authDomain: "whatsthemove-foobar.firebaseapp.com",
        databaseURL: "https://whatsthemove-foobar.firebaseio.com",
        projectId: "whatsthemove-foobar",
        storageBucket: "whatsthemove-foobar.appspot.com",
        messagingSenderId: "547969024379"
      };
      firebase.initializeApp(config);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/landing-page.css" rel="stylesheet">

    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <script src="https://api.filepicker.io/v2/filepicker.js"></script>


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">What's The Move?</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" id="loginstatus">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="displayname" href="#"> </a>
                        <ul class="dropdown-menu">
                            <li> <a href="/user-info"> My Profile </a> </li>
                            <li> <a onclick="logout()"> Logout </a> </li>
                        </ul>
                    </li>

                    <li>
                        <a href="Events">Events</a>
                    </li>
                    <li>
                        <a href="Post">Post an Event</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        {% block body %}

        {% endblock %}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
