{% extends "base.html" %}
{% block body %}

<div class="user-dash-cover">
	<div class="container">
		<h1 align="left">Welcome, User!</h1>
	    <div class="row first-row">
	        <div class="col-xs-7 blocks">
	        	<img src="../images/event.jpg" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-5 blocks">
	        	<img src="../images/stats.gif" class="img-responsive object-fit_fill" alt="" />
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-4 blocks">
	        	<img src="../images/cater.jpg" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-4 blocks">
	        	<img src="../images/venue.jpg" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-4 blocks">
	        	<img src="../images/dj.jpg" class="img-responsive object-fit_fill" alt="" />
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-xs-3 blocks">
	        	<img src="../images/facebook_icon.png" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-3 blocks">
	        	<img src="../images/twitter_icon.png" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-3 blocks">
	        	<img src="../images/snapchat_icon.png" class="img-responsive object-fit_fill" alt="" />
	        </div>
	        <div class="col-xs-3 blocks">
	        	<img src="../images/instagram_icon.png" class="img-responsive object-fit_fill" alt="" />
	        </div>
	</div>
</div>
{% endblock %}