{% extends "base.html" %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
<script>
function insRow(id) {
  for(var i = 0; i < 15; i++) {
    var x = document.getElementById(id);
    x.innerHTML += "<img src= '../images/guy.jpg'/ length=200px width=200px> <br>";
    x.innerHTML += "<input type='button'  value='Attending'>      <input type='button'  value='Not Going'> <br> <br>";
  //  var y = x.insertCell(0);
  //  var z = x.insertCell(1);
  //  y.innerHTML += "<img src= '../images/guy.jpg'/ length=200px width=200px>";
//    z.innerHTML += "<img src= '../images/guy.jpg'/ length=200px width=200px>";
  } //insert buttons here for events, use css to style
}
</script>
</head>

<body>
  <script type="text/javascript">
  for(var i = 0; i < 15; i++) {
    var x = document.getElementById(id);
    x.innerHTML += "<img src= '../images/guy.jpg'/ length=200px width=200px> <br>";
    x.innerHTML += "<input type='button'  value='Attending'>      <input type='button'  value='Not Going'> <br> <br>";

  }
  </script>
<p id = "myImg">
<p>
<input type="button" onclick="insRow('myImg')" value="Load more">
</p>
</p>
</body>
</html>

{% endblock %}
