{% extends "base.html" %}
{% block body %}
    
    
        <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>What's The Move!</h1>
                        <h3>See you there.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons" id="socialstatusbutton">
                            <li>
                                <a href="/Login" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i> <span class="network-name">Log In</span></a>
                            </li>
                            <li>
                                <a href="/SignUP" class="btn btn-default btn-lg"><i class="fa fa-user"></i> <span class="network-name">Sign Up <span></a>
                            </li>
                            <!-- <li>
                                <a href="/sign-up-org" class="btn btn-default btn-lg"><i class="fa fa-building"></i> <span class="network-name">Events</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    
{% endblock %}