

<br>
<br>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-messaging.js"></script>

<script>
// Initialize Firebase
var config = {
apiKey: "AIzaSyBm7bfqhAP9CMWuzOBaLzv1W9XYfYCW9qg",
authDomain: "tesr-d681a.firebaseapp.com",
databaseURL: "https://tesr-d681a.firebaseio.com",
projectId: "tesr-d681a",
storageBucket: "tesr-d681a.appspot.com",
messagingSenderId: "531957424080"
};
firebase.initializeApp(config);
</script>
<script>



function post(){

	//here is where all of the stuff for the parties are
	var event_name = document.getElementById("name").value;
	var host_name = document.getElementById("host_name").value;
	var event_date = document.getElementById("date").value;
	var event_location = document.getElementById("location").value;
	var image = document.getElementById("upload").files[0];

	var ad = {
     host: host_name,
     name: event_name,
		 date: event_date,
		 location: event_location,
     flyer: image
   };

	var newKey = firebase.database().ref().child('events').push().key;
	var updates = {};
  updates['/posts/' + newKey] = ad;
	return firebase.database().ref().update(updates);
}

</script>






<div class = "design">
<center>
<form onsubmit = "post()">

	<br>
	<br>
	<br>

	<div class="form-group">
    	<label for="name"></label>
    	<input id = "name" type="text" placeholder = "Name of Event" class="form-control" style="width: 300px;" name = "Name">
  	</div>
	<br>
	<div class="form-group">
    	<label for="host_name"></label>
    	<input id = "host_name" type="text" placeholder = "Name of host" class="form-control" style="width: 300px;" name = "host_name">
  	</div>
	<br>
	<div class="form-group">
    	<label for="date"></label>
    	<input id = "date" type="text" placeholder = "Date" class="form-control" style="width: 300px;" name = "date">
  	</div>
	<br>
	<div class="form-group">
    	<label for="location"></label>
    	<input id = "location" type="text" placeholder = "Location" class="form-control" style="width: 300px;" name = "location">
  	</div>
	<br>
	<br>


	<input id="upload" type="file" accept="image/*">
	<br>
	<br>

	<input style="width: 300px;" class="btn btn-default" type="submit"></input>


</form>

<div class = "container-fluid tile" style = "position:relative;clear:both;overflow:hidden;">

	<img id="output"/>

	</div>
</center>
<br>
<br>
</div>
